<h3>Monthly Archives</h3>
{% regroup articles by create_time|date:"M Y" as monthly %}

{% for month in monthly %}
<span><h4 class="round">{{ month.grouper }}</h4>
    {% for article in month.list %}
        <p class="archive-item"><a href="/article/{{ article.key.id }}"><small>{{ article.title }}</small></a></p>
    {% endfor %}
{% endfor %}
</span>
<br/>

