<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 TRANSITIONAL//EN">
<html>
    <head>
        {% block meta %}{% endblock %}<title>{% block title %}{% endblock %}PyBlog</title>
        
        <!-- shared css for YUI editor -->
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/skin.css">
        <!-- Solarized FTW!! -->
        <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link>
        <!-- custom css for textarea for YUI editor -->
        <style type="text/css">
            textarea { width: 100%; min-width: 480px; height: 100%; min-height: 300px; }
            input[ type = text ] { width: 100%; }
        </style>
        <style>
            a:link, a:visited { text-decoration: none; }
            a:hover, a:active { text-decoration: none; font-style: italic; }
            .nav { width: 75%; min-width: 480px; float: left; }
            .nav-status { width: 25%; min-width: 160px; float: right; }
            .main { width: 75%; min-width: 480px; padding-left: 20px; padding-right: 20px; }
            .rightbar { width: 25%; min-width: 160px; }
            .archive-item { border-bottom: 1px dotted; line-height: 10px; overflow: hidden; }
            .round { background-color: #138003; color: #ffffff; border-radius: 10px; 
                    -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 2px solid #138003;
                    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
                    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
                    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
                }
            h1.round { padding-left: 10px; margin-top: 10px; }
            button.round { font-size: 12px; padding: 5px 5px 5px 5px; border: none; background-color: pink; color: navy; }
            button.round:hover { background-color: red; }
            .banner { height: 80px; background-color: pink; padding: 10px 10px; }
        </style>
        <!-- shared script libraries for YUI editor -->
        <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
        <script src="http://yui.yahooapis.com/2.5.2/build/container/container_core-min.js"></script>
        <script src="http://yui.yahooapis.com/2.5.2/build/menu/menu-min.js"></script>
        <script src="http://yui.yahooapis.com/2.5.2/build/button/button-min.js"></script>
        <script src="http://yui.yahooapis.com/2.5.2/build/editor/editor-beta-min.js"></script>

        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body class="yui-skin-sam">
        <div class="banner round">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>
                        <h1><a href="/">PyBlog as an assignment</a></h1>
                    </td>
                    <td align="right" valign="bottom" style="padding: 5px;">
                        {% if user %}
                        |
                        {{ user }}
                        {% endif %}
                        |
                        <a href="/">List Article</a>
                        {% if is_admin %}
                        |
                        <a href="/article/add_article/">Add Article</a>
                        {% endif %}
                        {% if not user %}
                        |
                        <a href="/article/login"><img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Medium_base_44dp.png" alt="Sign In with Google" style="width:90px; height: 30px; margin-bottom:-10px;"/></a>
                        {% else %}
                        |
                        <a href="/article/logout">Sign Out</a>
                        {% endif %}
                        |
                    </td>
                </tr>
            </table>
        </div>
        <div id="content">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td valign="top" class="main">
                        {% block content %}{% endblock %}
                    </td>
                    <td valign="top" align="center" class="rightbar">
                        <div style="padding-top: 30px;">
                            {% block rightbar %}{% endblock %} 
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <table border="0" cellspacing="10" cellpadding="0" width="100%">
                <tr>
                    <hr/>
                    <td align="left" width="320">
                        <small>A simple Django CRUD blog. Built by Anzel Lai in 2014</small>
                    </td>
                    <td align="center">
                        |
                        <a href="/">Home</a>
                        |
                    </td>
                    <td align="right" width="120">
                        <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine"/>
                    </td>
                    <td width="125" style="padding-bottom: 3px;">
                        <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a> 
                    </td>
                </tr>
            </table>
        </div> 
    </body>
</html>
