{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block js %}
<script>
    var myEditor = new YAHOO.widget.Editor('id_content', {
        height: '300px',
        width: '100%',
        dompath: true, //Turns on the bar at the bottom
        animate: true //Animates the opening, closing and moving of Editor windows
    });
    myEditor.render('form');

    var submitAddForm = function() {
        document.addForm.id_content.value = myEditor.saveHTML();
        document.addForm.submit();
    }
</script>
{% endblock %}

{% block content %}
<h1 class="round">Add Article</h1>
    <form name="addForm" action="" method="post" onsubmit="submitAddForm()">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
{% endblock %}

{% block rightbar %}{% include 'archives.html' %}{% endblock %}
