{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block js %}
<script>
    var myEditor = new YAHOO.widget.Editor('id_content', {
        height: '300px',
        width: '100%',
        dompath: true, //Turns on the bar at the bottom
        animate: true, //Animates the opening, closing and moving of Editor windows
    });
    myEditor.render();

    var submitEditForm = function() {
        document.editForm.id_content.value = myEditor.saveHTML();
        document.editForm.submit();
    }
</script>
{% endblock %}

{% block content %}
<h1 class="round">Edit Article</h1>
<form name="editForm" action="" method="post" onsubmit="submitEditForm()">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endblock %}

{% block rightbar %}{% include 'archives.html' %}{% endblock %}
