{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
<h1 class="round">List Article</h1>
{% for article in articles %}
<a href="/article/{{ article.key.id }}"><h2>{{ article.title }}</h2></a>
<small> | created: {{ article.create_time|date:"d-M-Y" }} | updated: {{ article.update_time|date:"d-M-Y" }} | {% if article.is_published %}Published{% else %}Draft{% endif %} | </small>
{% endfor %}
{% endblock %}

{% block rightbar %}{% include 'archives.html' %}{% endblock %}

