{% extends 'base.html' %}

{% block js %}
<script>
    var callDelete = function() {
        if (confirm("There is no undo, are you sure you want to delete this article?")) {
            window.location.href += "delete/";
        }
        return;
    }
</script>
{% endblock %}

{% block content %}
<h1 class="round">View Article</h1>
<h2>{{ article.title|safe }}</h2>
<p>{{ article.content|safe }}</p>
<p>
    <small>
        | created: {{ article.create_time|date:"d-M-Y" }}
        | updated: {{article.update_time|date:"d-M-Y" }}
        | {% if article.is_published %}Published{% else %}Draft{% endif %}
        |
    </small>
</p>
{% if is_admin %}
<p>Required Admin:
<button class="round" onclick="window.location.href+='edit/';">Edit Article</button> <button class="round" onclick="callDelete();">Delete Article</button>
</p>
{% endif %}
{% endblock %}

{% block rightbar %}{% include 'archives.html' with articles=articles %}{% endblock %}
